/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Structure */
body {
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
	line-height:140%;
}

a, a:visited, a:link {
  color:#168039;
  font-weight:bold;
  text-decoration:none;
}

a:hover {
  color:#ceff00;
}

h1 {
  font-size:38px;
  line-height:200%;
}

h2 {
  font-size:30px;
  line-height:200%;
}


em {
  font-style:italic;
}

p {
  padding:10px 0;
}

/* Helper Class */
.bg-level-1 {
	background: #00261C;
	color: #96ED89;
}

.bg-level-2 {
	background: #044D29;
	color: #96ED89;
}

.hide {
	display:none;
}

.stealth {
	opacity:0;
}

.text-center {
	text-align:center;
}

.pointer {
  cursor:pointer;
}

/* Button */
.btn {
  position: relative;
  cursor:pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 60px;
  
  background: #96ED89;
  color: #00261C;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px #58a94b, 0px 9px 25px rgba(0,0,0,.7);
  
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}

.btn:hover {
  color: #00261C;
}

.btn:active {
    -webkit-box-shadow: 0px 3px 0px #58a94b, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #58a94b, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #58a94b, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.animate {
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

/* Module Style */

#attribute {
background:inherit;
color:inherit;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:10px;
}

#welcome {
  position:fixed;
  top:50%;
  left:50%;
  width:480px;
  height:150px;
  margin-left:-240px;
  margin-top:-75px;
}

#welcome h1 {
  margin-bottom:20px;
}

#welcome #enter {
  padding:10px 20px;
  font-size:20px;
  margin:0 auto;
}

#home {
  margin:20px auto;
  width:400px;
}

#home div {
  padding:20px 0;
  border-bottom:1px solid #fff;
}

#home #connect {
  margin-bottom:50px;
}

#home #connect a {
  margin:5px;
  padding:10px 20px;
}
