/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background:#fff;
	color:#555;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size:14px;
	line-height:160%;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

p {
  line-height:160%;
}

#container {
  position:relative;
  max-width:960px;
  margin:20px auto;
  box-sizing: border-box;
}

.line {
  position:absolute;
  width:100%;
  height:100%;
}

.line span {
  position:absolute;
  border:2px solid #ccc;
  z-index:-1;
}

.line .line1 {
  top: 245px;
  width: 130px;
  left: 400px;
}

.line .line2 {
  top: 270px;
  left: 715px;
  height: 350px;
}

.line .line3 {
  top: 605px;
  left: 340px;
  width: 250px;
}

.line .line4 {
  top: 630px;
  left: 180px;
  height: 150px;
}

.line .line5 {
  top: 805px;
  left: 290px;
  width: 300px;
}

.line .line6 {
  top: 890px;
  left: 730px;
  height: 160px;
}

.line .line7 {
  top: 1050px;
  left: 590px;
  width: 140px;
}

.line .line8 {
  top: 1140px;
  left: 475px;
  height: 1200px;
}

.part {
  position:relative;
  padding:80px;
  overflow:hidden;
  box-sizing:border-box;
}

.item {
  width:300px;
  text-align:center;
  background:#fff;
}

.item h3 {
  font-size:60px;
  line-height:110%;
}

.item a,
.item a:hover,
.item a:visited,
.item a:link {
  color:#666;
  text-decoration:none;
  display:inline-block;
  border-bottom:3px solid #555;
  margin:10px 0;
}

#intro h1 {
  font-size:100px;
  line-height:100%;
}

#intro p {
  position:absolute;
  top:50%;
  right:80px;
  background:#fff;
  font-size:20px;
}

#project .head {
  position:relative;
  text-align:right;
  margin-right:30px;
  padding:20px;
}

#project .head p {
  position:absolute;
  background:#fff;
  top:50px;
  left:0;
  font-size:20px;
}

#project .head h2 {
  background:#fff;
  font-size:60px;
  line-height:130%;
  display:inline-block;
}

#project .item {
  margin:100px 0;
}

#project .item.left {
  float:left;
  width:200px;
}

#project .item.right {
  float:right;
}

#project .item.center {
  width:200px;
  margin:350px auto 100px;
}

/**
 * Connect section
 */
#connect .head {
  text-align: center;
background: #fff;
}

#connect h2 {
  font-size:100px;
  line-height:120%;
}

#connect p {
  padding-bottom:10px;
}

#connect .item {
  margin:70px auto;
}

#connect .item h3 {
  font-size:50px;
}

@media all and (max-width:959px) {

  #container {
    width: 748px;
  }

  .line .line1 {
    top: 245px;
    left: 400px;
    width: 160px;
  }

  .line .line2 {
    top: 245px;
    left: 560px;
    height: 340px;
  }

  .line .line3 {
    top: 638px;
    left: 335px;
    width: 100px;
  }

  .line .line4 {
    top: 650px;
    left: 180px;
    height: 150px;
  }

  .line .line5 {
    top: 840px;
    left: 290px;
    width: 250px;
  }

  .line .line6 {
    top: 930px;
    left: 570px;
    height: 155px;
  }

  .line .line7 {
    top: 1085px;
    left: 475px;
    width: 95px;
  }

  .line .line8 {
    top: 1160px;
    left: 370px;
    height: 1200px;
  }

  #intro p {
    position: static;
    display: inline-block;
  }

  #project .head {
    margin: 0;
    padding: 20px 0;
  }

  #project .item.right {
    width:200px;
  }

}

@media all and (max-width:767px) {

  #container {
    width:620px;
  }

  .line .line1 {
    width: 45px;
  }

  .line .line2 {
    left: 445px;
  }

  .line .line3 {
    left: 180px;
    width: 130px;
  }

  .line .line4 {
    top: 640px;
    height: 180px;
  }

  .line .line5 {
    top: 870px;
    width: 155px;
  }

  .line .line6 {
    top: 870px;
    left: 445px;
    height: 450px;
  }

  .line .line7 {
    top: 1320px;
    left: 380px;
    width: 65px;
  }

  .line .line8 {
    top: 1400px;
    left: 310px;
  }

  #project .head {
    display: inline-block;
    float: right;
  }

  #project .head h2 {
    display: block;
  }

  #project .head p {
    position: static;
    display: block;
  }

  #project .item.left {
    clear:both;
  }

  #project .item.right {
    margin-top:300px;
    padding: 10px 0;
  }

}

@media all and (max-width:639px) {

  #container {
    width: 460px;
  }

  #project .head {
    float: none;
    display: block;
    margin: 80px 0;
    padding: 10px 0;
    text-align: center;
    background: #fff;
  }

  #project .item {
    float: none !important;
    display: block !important;
    width: 100% !important;
    margin: 80px 0 !important;
    padding: 10px 0 !important;
  }

  #connect {
    padding: 80px 40px;
  }

  #connect h2 {
    font-size: 90px;
  }

  .line .line2,
  .line .line3,
  .line .line4,
  .line .line5,
  .line .line6,
  .line .line7,
  .line .line8 {
    display:none;
  }

  .line .line1 {
    width: 0px;
    height: 2200px;
    top: 450px;
    left: 230px;
  }

}

@media all and (min-width:320px) and (max-width:479px) {

  #container {
    width: 300px;
    margin-bottom:100px;
    overflow:hidden;
  }

  .line .line1 {
    height: 100%;
    top: 340px;
    left: 150px;
  }

  .part {
    padding: 50px 20px !important;
  }

  .item h3 {
    font-size: 40px !important;
  }

  #intro h1 {
    font-size: 80px;
  }

  #connect {
    padding-bottom: 0 !important;
  }

  #connect .item {
    margin: 70px 0px;
    width: 100%;
  }

  #connect .item.last {
    margin-bottom: 0px;
  }

  #connect h2 {
    font-size:70px;
  }
}